/** @format */

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

// MEDIA QUERY
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

html {
  font-size: 62.5%; // 1 rem = 10px | 10/16 = 62.5
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

body {
  box-sizing: border-box;
  background-color: $color-background-splash;
  overflow-x: hidden;
  border-top: 0;
  border-bottom: 0;

  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-scroll-bar;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(
      180deg,
      $color-scroll-thumb1 0%,
      $color-scroll-thumb2 99%
    );
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }
  li {
    list-style: none;
  }
}
