/** @format */

$color-soft-gray: hsl(0, 7%, 52%);
$color-footer: hsl(280, 7%, 16%);

$color-dark-navy: hsl(228, 34%, 14%);
$color-light-green: rgb(103, 137, 131);
$color-lighter-blue: #3e5871;
$color-lighter-beige: rgb(240, 233, 210);

// Scroll Bar
$color-scroll-bar: (hsla(240, 14%, 68%, 0.475));
$color-scroll-thumb1: (hsl(313, 5%, 61%));
$color-scroll-thumb2: (hsl(120, 2%, 52%));

// Splash Page
$color-card-splash: hsl(204, 64%, 44%);
$color-background-splash: #2c3e50;
$color-hero-color1: hsla(240, 35%, 18%, 0.628);
$color-hero-color2: hsla(240, 41%, 22%, 0.715);
