/** @format */
.splash {
  display: grid;
  justify-content: center;
  margin: auto;
  // align-content: center;

  &__title {
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 5px double rgba(255, 254, 254, 0.716);
    padding-bottom: 10px;
    justify-content: center;
  }

  &__svg__container {
    background: linear-gradient(rgb(3, 201, 3), rgb(10, 157, 10));
    border-radius: 6px;
    padding: 14px;
    margin-top: 39px;
  }

  &__header__text {
    margin: auto;
    width: 80%;
    margin-top: 40px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.111);
    border-radius: 10px;

    color: white;
  }

  &__description__contain {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 5rem;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.111);
    border-radius: 10px;
  }

  &__description__item {
    width: 50%;
  }

  &__text {
    color: rgba(255, 255, 255, 0.804);
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: 60;
    margin-left: 85px;
    margin-top: -20px;
  }

  &__textBold {
    margin-bottom: 10px;
  }

  &__text__header {
    color: rgba(255, 255, 255, 0.804);
    font-weight: 60;
    margin-left: 10px;
  }

  &__image {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }

  &__login {
    align-items: center;
    padding-left: 1rem;
    overflow: hidden;
    height: 5.9rem;
    width: 320px;
    color: black;
    background: linear-gradient(rgb(3, 201, 3), rgb(10, 157, 10));
    position: relative;
    border: black solid 1px;
    box-shadow: 5px 5px 5px #1b1a1a;
    border-radius: 20px;
    transition: all 0.3s ease-in;

    &:focus {
      outline: orange 5px auto;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 5px 5px 5px #333;
      background: linear-gradient(rgb(4, 227, 4), rgb(8, 182, 8));
    }

    &:active {
      transform: translateY(-2px);
      box-shadow: 5px 5px 5px #1b1a1a;
    }

    &--logo {
      position: absolute;
      left: 9rem;
      bottom: -16.4rem;
    }
  }
}
.splash__description__item {
  h3 {
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 3rem;
  }
  padding: 2rem;
}
/* Hide the image on screens over 800px */
@media (width < 801px) {
  .splash__image {
    display: none;
  }
}

/* Change the layout for screens smaller than 750px */
@media (width < 1050px) {
  .splash__login{
    scale: .75;
  }
  .splash__description__contain {
    margin-left: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
width: 70%;
  }
  h1 {
    font-size: 10rem;
  }
  .splash__description__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
width: 70%;
margin-left: 11rem;
    h3 {
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 4rem;
    }
  }
}
@media (width < 1050px) {
  h1 {
    font-size: 5rem;
  }
  .sidebar-icon {
    width: 5rem;
  }
  .splash__header__text {
    margin-left: 11rem;
    width: 70%;
    margin-bottom: 5rem;
  }
}
