/** @format */
.splash {
  display: grid;
  justify-content: center;
  margin: auto;
  // align-content: center;

  &__title {
    margin-left: 100px;

  }

  &__header__text {
margin-left: 100px;
margin-top: 40px;
padding: 30px;
background-color: rgba(255, 255, 255, 0.111);
border-radius: 10px;
margin-right: 100px;
color: white;
  }

  &__description__contain {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.111);
    border-radius: 10px;
  }
  
  &__text {
    color: rgba(255, 255, 255, 0.76);

    margin-right: 20px;
  }

  &__login {
    align-items: center;
    padding-left: 1rem;
    overflow: hidden;
    height: 5.9rem;
    width: 20%;
    background: linear-gradient(rgb(2, 173, 2), rgb(7, 119, 7));
    position: relative;
    border: black solid 1px;
    box-shadow: 5px 5px 5px #1b1a1a;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    &:focus {
      outline: orange 5px auto;
    }
    &:hover {
      transform: translateY(-4px);
      box-shadow: 5px 5px 5px #333;
      background: linear-gradient(rgb(3, 193, 3), rgb(6, 146, 6));
    }
    &:active {
      transform: translateY(-2px);
      box-shadow: 5px 5px 5px #1b1a1a;
    }
    &--logo {
      position: absolute;
      left: 9rem;
      bottom: -16.8rem;
    }
  }
}
