/** @format */

.dashboard {
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
}

.column {
  padding: 1rem;
}

.column-1 {
  min-width: 300px;
}

.playlist_column {
  margin-right: 20px;

  min-width: 450px;
}

@media (max-width: 1150px) {
  .dashboard {
    flex-direction: column;
  }

  .column {
    padding: 1rem;
    flex: 1;
    max-width: 70%;
    margin-left: 300px;
  }

  .playlist_column {
    margin-right: 20px;
    margin-left: 310px;
  }
}

.logo {
  position: absolute;
  left: -18px;
  top: 8px;
  transition: all 0.2s ease;
}
.logo--tracks {
  top: 26px;
  left: -10px;
}
.logo--track-list {
  top: 26px;
  left: 0px;
}

.logo--top-tracks {
  top: 29px;
  left: -30px;
}

.logo--rec {
  left: -28px;
  top: 25px;
}

.logo--card {
  left: 80%;
  top: 89%;
}

.logo--list {
  transition: all 0.2s ease;
  margin-top: 12.5px;
  margin-left: 10px;
}

.logo--list:hover {
  transform: translateY(-4px);
}

.logo:hover {
  transform: translateY(-4px);
}
.slider-width {
  padding: .5rem;
  width: 150px;
}
.slider__label{
  font-size: 2rem;
  padding-left: 1rem;
}

@media (width < 851px) {
  .playlist_column {
    margin-right: 20px;
    margin-left: 10px;
  }
  .column {
    margin-left: 10px !important;
  }
}
