.dashboard {
  display: flex;
}

.column {
  padding: 1rem;
}

.column:first-child {
  flex: 1;
}

.column:last-child {
  flex: 1;
}

.column:nth-child(2) {
  flex: 2;
}


@media (max-width: 800px) {
  .dashboard {
    flex-direction: column;
  }

  .column {
    padding: 1rem;
    flex: 1;
  }
}
