/** @format */

.knob {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__label {
    margin: 1rem;
  }
  display: flex;
  position: relative;
}
.knob .ticks {
  position: absolute;
}
.knob .ticks .tick {
  position: absolute;
  background: rgb(131, 129, 129);
  box-shadow: inset 0 0 0 0 black;
  width: 3px;
  transition: box-shadow 0.5s;
}
.knob .ticks .tick.active {
  box-shadow: inset 0 0 5px 2px #5aec50, 0 0 0 1px rgb(59, 153, 51);
}
.knob.outer {
  border-radius: 50%;
  border: 1px solid #434343;
  border-bottom: 5px solid #515050;
  background-image: radial-gradient(100% 70%, #e8e6e6 6%, #878585 90%);
  box-shadow: 0 5px 15px 2px rgb(190, 190, 190), 0 0 5px 3px rgb(208, 208, 208), 0 0 0 12px #898989;
}
.knob.inner {
  border-radius: 50%;
}
.knob.inner .grip {
  position: absolute;
  width: 5%;
  height: 5%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #50ec72;
  box-shadow: 0 0 3px 1px black;
}
.test {
  background: hsl(154, 100%, 50%);
}

label {
  padding: 0;
}

.board_button {
  margin-top: 10px;
}
