/** @format */

.sound-board {
  width: 50rem;
  height: 45rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 0rem;

  // border: rgba(151, 151, 151, 0.233) 8px solid;
  // border-radius: 8px;

  // box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  // background-color: rgb(255, 255, 255);
}
