.playlist {
  margin-bottom: 60px;
  position: relative;
  max-width: 100%;

  &_image {
    margin-left: 10px;
  }

  &_text_name {
    font-weight: 600;
    font-size: 17px;
    padding-right: 80px;
  }

  &_text_tracks {
    font-weight: 200;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_input {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.list {
  padding-right: 20px;
}

.playlist_button {
  position: absolute;
  top: 15px;
  right: 0;
}
