.topResults {
  width: 90%;
  margin-left: 15px;
}

.paper {
  margin-top: 10px;
}

.input {
  margin-top: 10px;
}

.list {

  padding-top: 5px;
  padding-left: 5px;
  padding-right: 80px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list li:not(:first-child) {
  border-top: 1px solid #ccc;
}


.list_button {
  position: absolute;
  right: 1365px;
  transform: translateY(-180%);
}



