.playlist {
  margin-top: 46px;
  margin-bottom: 60px;
  position: relative;
  max-width: 100%;

  &_image {
    margin-left: 10px;
  }

  &_text_name {
    font-weight: 600;
    font-size: 17px;
    padding-right: 50px;
  }

  &_text_tracks {
    font-weight: 200;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_input {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  // &_image {
  //   position: relative;
  //   top: 15px;
  //   right: 0;
  // }
}

.list {
  padding-right: 20px;
}

.playlist_button {
  position: absolute;
  top: 30px;
  right: 0;
}

.text-select {
  padding-right: 30px;
}

.sidebar-title {
padding-bottom: 20px;
border-bottom: 1px solid rgba(215, 215, 215, 0.516);
}

.sidebar-icon {
  margin-bottom: 17px;
}

.sidebar-bottom {
  margin-left: 12px;
}