/** @format */

.list li {
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  margin-top: 5px;
}

.paper {
  margin-top: 10px;
  margin-bottom: 50px;
}

.list_item {
  cursor: pointer;
}

.list_item_text {
  flex-grow: 1;
}

.list_button {
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: 13px;
}

.list li:not(:first-child) {
  border-top: 1px solid #ccc;
}

.list {
  padding-top: 5px;
  padding-left: 5px;
}

.top-input {
  margin: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.image-top {
  margin-top: 10px;
}

.text-top {
  margin-top: 10px;
}

.numbers {
  margin-left: 5px;
  margin-top: 5px;
}
