/** @format */

.list li {
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  margin-top: 5px;
}

.paper {
  margin-top: 10px;
  margin-bottom: 40px;
}

.list_item {
  cursor: pointer;
}

.list_item_text {
  flex-grow: 1;
}

.list_button {
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: 13px;
}

.list_button_features {
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: -18px;
}

.list_button_modal {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 13px;
}

.list_button_modal_features {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: -16px;
}

.list li:not(:first-child) {
  border-top: 1px solid #ccc;
}

.list {
  padding-top: 5px;
  padding-left: 5px;
}

.top-input {
  margin: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.image-top {
  margin-top: 10px;
}

.text-top {
  margin-top: 10px;
}

.numbers {
  margin-left: 5px;
  margin-top: 5px;
}

.numbers--artists {
  margin-left: 5px;
  margin-top: 5px;
}

.top_playlist_button {
  margin-bottom: 60px;
  width: 100%;
  height: 60px;
}

.hover:hover {
  cursor: pointer;
}

.top__alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.top__alert.visible {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}
